.details{
    display: flex;
    margin-bottom: 10px;
}
.details > span{
    width: 30%;
    
}
.full-name{
    display: flex;
    justify-content: center;
}
.form-field{
    border-radius: 10px;
    background-color: aqua;
    width: 70%;
    height: 90vh;
    display: flex;
    justify-content: center;
   
    margin: 0 auto;
}
.checkboxes{
    display: flex;
    flex-direction: column;
}
.checkbox-container{
    display: flex;
    align-items: center;
}
.text-input{
    border-radius: 5px;
}
.submit-btn{
    display: flex;
    justify-content: center;
}